.friendMessageTitle{
  display: flex;
}


.friendMessage__img{
  border-radius: 100%;
  max-width: 25px;
  max-height: 25px;
  margin-right: 5px;
}

.message{
  margin: 5px;
  margin-top: 10px;
}

.card-img, .card-img-top {
  border-top-left-radius: 100% !important;
  border-top-right-radius: 100% !important;
}

.btn{
  margin-top: 10pt
}

.messages {
  padding: 5px;
  margin-top: 25px;
  max-height: 300px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

.messagesContainer {
  max-height: 900px;
  margin: 0;
}