.tasks {
  padding: 10px;
  margin-top: 25px;
  max-height: 300px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

.task {
  margin-bottom: 50pt;
}

.btn {
  margin-right: 10pt;
}
.btn-edit-delete {
  position: relative;
  right: 10px;
}
.taskCardInfo {
  margin: 20px;
  margin-left: -10px;
}
.taskInfo {
  font-weight: bold;
}
