.tasks {
  padding: 10px;
  margin-top: 25px;
  max-height: 300px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

.task {
  margin-bottom: 30pt;
}

.btn {
  margin-right: 10pt;
}
.btn-edit-delete {
  position: relative;
  right: 10px;
}
.taskCardInfo {
  margin: 10px;
  margin-left: -10px;
}
.taskInfo {
  font-weight: bold;
}


.taskForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.taskButtonContainer{
  display: flex;
}