.dashboardContainer{
  display: flex;
}

.friendsListContainer{
  border-right: 1px solid black;
  padding: 20pt;
  flex-basis: 20%;
  margin: 10px;
}

.newsEventsMessagesContainer{
  flex-basis: 50%;
  margin: 10px;
}

.tasksContainer{
  border-left: 1px solid black;
  padding: 20pt;
  flex-basis: 25%;
}

