

.friendsClass{
  background-color: rgba(218, 165, 32, 0.178);
  font-style: italic;
  padding: 5pt;
}

.newsSection {
  padding: 5px;
  margin-top: 25px;
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 30px
}

::-webkit-scrollbar {
  display: none;
}

.newsCard {
  margin-bottom: 10pt;
  padding: 5pt
}

