.newsForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.friendsClass{
  background-color: rgba(218, 165, 32, 0.178);
  font-style: italic;
  padding: 5pt;
}

.newsSection {
  padding: 5px;
  margin-top: 25px;
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 30px
}

::-webkit-scrollbar {
  display: none;
}

.newsButtonContainer{
  display: flex;
}
.newsCard {
  margin-bottom: 10pt;
  padding: 5pt
}

.synopsis{
  word-break: normal;
}