.logInForm{
  justify-content: center;
  text-align: center;
  margin: 10%;
  
}

.registerHeader{
  margin-top: 25px;
}

.logInFormContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  max-width: 450px;
  background-color: white;
  padding: 15pt;
  border-radius: 5pt;
}

.logInUserContainer{
  margin: 5px;
}
.logInPassContainer{
  margin: 5px;
}

.logInUser{
  align-items: center;
  max-width: 500px;
}

.logInButtons{
  justify-content: center;
  text-align: center;
  display: flex;
  margin: 5px;
}

.registerButton{
 margin: 10px;
}

.registerPassContainer{
  margin-top: 20px;

}

.registerEmailContainer{
 margin-top: 20px;
}

.confirmPassContainer{
  margin-top: 20px;
}


.logInButton{
  margin: 5px;
}



.registerContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  max-width: 450px;
  background-color: white;
  padding: 15pt;
  border-radius: 5pt;
}

.logInBackground {
  background-image: url(../pics/slothBackgroundImage2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
